*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color:darkcyan;
    width: 100%;
    border: 2px solid;
}

.text1,h1{
    font-size: 1.5rem;
    text-align: center;
    color:antiquewhite;
    font-size: 4rem;
}

.screen input{
    width: 35rem;
    height: 15vh;
    margin-top: 2%;
    margin-left: 30rem;
    border-radius: 20px;
    font-size: 2rem;
    color: aliceblue;
    background-color: darkslategray
}

.calculatorbox{
    border: 2px solid black;
    width: 35rem;
    margin-top: 2rem;
    margin-left: 30rem;
    border-radius: 2.5%;
    background-color: darkslategray;
    }

.calbtn{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    padding-top: 1rem;
    }

.btn{
    flex: 1 1 120px;
    width: 20%;
    }
    
.btn button{
    min-width: 90%;
    max-width: 95%;
    min-height: 4rem;
    max-height: 8.5rem;
    border-radius: 8%;
    border-bottom: 5px solid;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 0.1rem;
}

.btn button:hover{
    background-color:lightgrey;
    transition: 2s;
}